<div class="offers">
    <div class="offers-text">
        <h1>Ofertas</h1>
        <h2>Disfrute de nuestras ofertas de hoteles en Buenos Aires</h2>
        <p>Rodeado de lo mejor que Buenos Aires tiene para ofrecer: historia, cultura, atracciones y negocios, Libertador Hotel hará que su estadía sea memorable. Para mejorar su próxima experiencia con nosotros, vea nuestra colección de ofertas especiales de temporada, que combinan tarifas exclusivas en nuestras habitaciones y suites con beneficios.</p>
    </div>
    <div class="cards-offers">
        <app-cards></app-cards>
    </div>
</div>
