<div class="galery">
    <div class="titles">
        <h1>Galeria</h1>
        <h2>Vea nuestro hotel y nuestros servicios</h2>
        <p>Entre los hoteles en Buenos Aires, Argentina, ningún destino reúne estilo, servicios y comodidades en una ubicación céntrica como el Libertador Hotel. Con instalaciones que van desde un moderno gimnasio con piscina cubierta hasta ocho sofisticadas salas de reuniones y un centro de negocios, hasta el restaurante La Pergola y Maximilian Lobby Bar & Restaurante, somos la opción ideal para estandías de negocios o de placer en La bulliciosa capital argentina. Consulte nuestra galería de fotos para obtener más información sobre las características y las instalaciones del hotel.</p>
    </div>
    <app-carousel [images]="images" [autoSlide]="true"></app-carousel>
</div>
