<div class="rooms">
    <div class="rooms-text">
        <h1>Habitaciones & Tarifas</h1>
        <h2>Disfrute de una estadia de placer o de negocios con nosotros</h2>
        <p>El Forastero Hotel ofrece cómodas, luminosas y amplias habitaciones en el centro de Buenos Aires, Argentina. Pase su próximo viaje de negocios o una escapada en grupo con nosotros y experimente el verdadero significado del estilo urbano. Cada una de nuestras 200 habitaciones y suites bellamente diseñadas y decoradas cuenta con una cama king o dos camas individuales, televisor de pantalla plana con canales por cable y satélite, minibar y un cómodo escritorio con silla ergonómica. Los baños bien equipados ofrecen duchas con paredes de vidrio y artículos de tocador de lujo. Para espacio y comodidad adicionales, nuestras Junior Suites y Suites Presidenciales cuentan con áreas de dormir y de estar separadas y acceso a servicios y comodidades de mayor categoría. También ofrecemos room service para los huéspedes que deseen cenar en la comodidad y privacidad de su habitación o suite.

            Ya sea que visite la capital de Argentina por trabajo o por placer, el Forastero Hotel ofrece el servicio ideal en el corazón de la ciudad.</p>
    </div>
    <div class="cards-rooms">
        <app-cards></app-cards>
    </div>
</div>