<div class="container">
    <div class="forms">
        <app-form-client></app-form-client>
    </div>
    <div class="informacion">
        <div class="info-reserva">
            <h2>Fecha de ingreso: </h2><input type="date" required>
            <h2>Fecha de egreso: </h2><input type="date" required>
        </div>
        <div class="compra">
            <h2>PRECIO</h2>
            <h2>U&dollar;D {{ roomPrice }}</h2>
        </div>
        <div class="total">
            <h2>TOTAL</h2>
            <h2>U&dollar;D {{ roomPrice }}</h2>
        </div>
    </div>
</div>
