<div *ngIf="images && images.length > 0" class="carousel-container">
    <img *ngFor="let image of images; let i = index" [src]="image.imageSrc" [alt]="image.imageAlt" id="carousel" [ngClass]="{'image-active': selectedIndex === i}" class="fade">
    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i=index"
                class="dot"
                [ngClass]="{'active': selectedIndex === i}"
                (click)="selectImage(i)"></span>
    </div>
    <button *ngIf="controls" class="btn-carousel btn-prev">
        <i class="fa-solid fa-arrow-left fa-beat icon-carousel icon-prev"
            (click)="onPrevClick()"></i>
    </button>
    <button *ngIf="controls" class="btn-carousel btn-next">
        <i class="fa-solid fa-arrow-right fa-beat style=color: #000000 icon-carousel icon-next"
            (click)="onNextClick()"></i>
    </button>
</div>
