<div class="container-card">
  <div class="cards">
    <div *ngFor="let room of rooms" class="card">
      <h1>{{room.title}}</h1>
      <div class="card-img">
        <img src="{{room.imageUrl}}" alt="" srcset="">  
      </div>
      <h3>{{room.description}}</h3>
      <h2>U$D {{room.price}}</h2>
      <form [routerLink]="['/form']" [queryParams]="{ roomId: room.id, roomTitle: room.title, roomPrice: room.price }">
        <button type="submit" class="btn">RESERVAR AHORA</button>
      </form>
    </div>
  </div>
</div>
