<div class="footer">
    <div class="redes">
        <div class="redes-c">
            <h1>Seguinos en nuestras redes sociales</h1>
            <div class="redes-logos">
                <a href="https://www.facebook.com/profile.php?id=61551754666857" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/face.png" alt="" srcset="" class="face"></a>
                <a href="" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/insta.png" alt="" srcset="" class="insta"></a>
                <a href="https://wa.me/qr/IARED2L4HPPNL1" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/whatsapp.png" alt="" srcset="" class="wps"></a>
            </div>
        </div>    
    </div>
    <div class="info-foot">
        <div class="info">
            <h1>EL FORASTERO Hotel</h1>
            <h4><i class="fa-solid fa-house" style="color: #ffffff;"></i>Calle Falsa 123, Santa Fe, Maggiolo</h4>
            <h4><i class="fa-solid fa-phone" style="color: #ffffff;"></i>+54 3462-226572</h4>
            <h4><i class="fa-solid fa-envelope" style="color: #ffffff;"></i>elforasterohotel@gmail.com</h4>
            <h3>Lisandro Farias&COPY;Copyright</h3>
        </div>
        <div class="nav">
            <div class="title">
                <h1>INFORMACION</h1>
            </div>
            <div class="navbar">
                <a href="" [routerLink]="['/inicio']" routerLinkActive="router-link-active" >INICIO</a>
                <a href="" [routerLink]="['/habitaciones']" routerLinkActive="router-link-active" >HABITACIONES</a>
                <a href="" [routerLink]="['/ofertas']" routerLinkActive="router-link-active" >OFERTAS</a>
                <a href="" [routerLink]="['/galeria']" routerLinkActive="router-link-active" >GALERY</a>
            </div> 
        </div>
        
           
    </div>   
</div>
